.links {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  padding: 10px;
  text-shadow: 1px 1px 1px #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.links a {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.links svg {
  display: block;
}

.button {
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 100%;
}

a.button {
  border-radius: 100%;
}

.button.show {
  transform: rotate(45deg);
}

.options {
  position: absolute;
  left: 40px;
  bottom: 0;
  margin: auto;
  z-index: 1;
  padding: 10px;
  text-shadow: 1px 1px 1px #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
