.links {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  padding: 10px;
  color: #fafafa;
  text-shadow: 1px 1px 1px #111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links a {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.links a + a {
  margin-top: 5px;
}

.links svg {
  display: block;
}

.links .title {
  font-size: 12px;
  margin-left: 10px;
  display: none;
}

.links a:hover .title {
  display: block;
}

.button {
  transition: all 0.1s;
}

.button.show {
  transform: rotate(45deg);
}
