.media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media img, .media video {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.media iframe {
  width: 100%;
  height: 80%;
}
