.thumbs {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.thumb {
  width: 100px;
  height: 100px;
  overflow: hidden;
  flex: 0 0 auto;
  cursor: pointer;
  opacity: 0.5;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.active {
  opacity: 1;
  box-shadow: 0 0 10px black;
}
